// TYPOGRAPHY

h1 {
	font-family: $brandonMedium;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	color: $white;
	line-height: 1.25em;
	margin: 10px 0;
	display: none;
	@include mq(tablet) {
		display: block;
	}
}

h1.temp {
	display: block;
	color: $orange;
}

h2 {
	display: none;
	font-family: $baskerville;
	font-style: italic;
	font-size: 0.825em;
	text-align: center;
	font-weight: 100;
	margin-bottom: 20px;
	color: $dark;
	@include mq(tablet) {
		display: block;
	}
}

h1.mobile {
	color: $nav-color;
	display: block;
}

h1.about {
	display: block;
	font-family: $brandonRegular;
	font-weight: 100;
	color: $nav-color;
}

h2.mobile {
	display: block;
}

h3 {
	font-family: $brandonMedium;
	font-size: 1.35em;
	font-weight: 300;
	text-transform: uppercase;
	color: $white;
	margin-bottom: 8px;
	@include mq(tablet) {
		font-size: 1.10em;
	}
}

h4 {
	font-family: $baskerville;
	font-weight: 100;
	font-size: 1.5em;
	text-align: left;
	color: $copy-color;
	line-height: 1.25em;
	margin: 30px 0 0 0;
	text-transform: capitalize;
	@include mq(tablet) {
		margin: 160px 0 0 0;
		font-size: 2em;
	}
}

.work-desc {
	float: left;
	width: 100%;
	font-family: $baskerville;
	font-weight: 100;
	font-size: 0.85em;
	text-align: left;
	color: $copy-color;
	line-height: 2.25em;
	padding: 0 0;
	margin-bottom: 30px;
	.team a {
		float: left; 
		width: 100%;
		color: $nav-color;
	}
	.space {
		float: left;
		width: 100%;
		margin-top: 8px;
	}
}

span.slider-text {
	font-family: $baskerville;
	font-weight: 400;
	font-style: italic;
	color: $nav-color;
}

p {
	float: left;
	width: 100%;
	color: $hover-gray;
	font-family: $baskerville;
	font-size: 0.825em;
	line-height: 2.30em;
	padding: 0 30px;
	@include box-sizing(border-box);
}

p.tag {
	font-weight: 700;
	letter-spacing: 1px;
	font-style: italic;
}

.about-info {
	font-family: $baskerville;
	font-style: italic;
	font-size: 0.825em;
	font-weight: 100;
	color: $nav-color;
	padding: 0 30px;
	@include box-sizing(border-box);
	@include transition(all .3s ease-in-out);
	&:nth-child(1):hover {
		color: $dark;
	}
}